<h1>LISTAR FEDERAÇÕES</h1>
<button onclick="window.location.href='/api/federacoes/cadastrar'">Nova Federação</button>
<table>
    <thead>
        <tr>
            <th>Código Federação</th>
            <th>Razão Social</th>
            <th>Nome Fantasia</th>
            <th>Sigla</th>
            <th>CNPJ</th>
            <th>Presidente</th>
        </tr>
    </thead>
    <tbody>
        {{#each federacoes}}
        <tr>
            <td>{{this.dataValues.codFederacao}}</td>
            <td>{{this.dataValues.razaoSocial}}</td>
            <td>{{this.dataValues.nomeFantasia}}</td>
            <td>{{this.dataValues.sigla}}</td>
            <td>{{this.dataValues.cnpj}}</td>
            <td>{{this.dataValues.presidente}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
