<h1>LISTAR ATLETAS</h1>
<button onclick="window.location.href='/api/clubes/atletas'">Novo Atleta</button>
<table>
    <thead>
        <tr>
            <th>Código Atleta</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de Nascimento</th>
            <th>Sexo</th>
            <th>Nascionalidade</th>
            <th>Situação</th>
        </tr>
    </thead>
    <tbody>
    {{#each atletas}}
    <tr>
        <td>{{this.codAtleta}}</td>
        <td>{{this.nome}}</td>
        <td>{{this.sobrenome}}</td>
        <td>{{this.nascimento}}</td>
        <td>{{this.sexo}}</td>
        <td>{{this.nascionalidade}}</td>
        <td>{{this.situacao}}</td>
        </td>
    </tr>
    {{/each}}
</tbody>
</table>
