<h1>LISTAR FEDERAÇÕES</h1>

{{#each federacoes}}
    Código Federação: {{this.dataValues.codFederacao}}<br>
    Razão Social: {{this.dataValues.razaoSocial}}<br>
    Nome Fantasia: {{this.dataValues.nomeFantasia}}<br>
    Sigla: {{this.dataValues.sigla}}<br>
    CNPJ: {{this.dataValues.cnpj}}<br>
    Presidente: {{this.dataValues.presidente}}<br>
    <hr>
{{/each}}