<h1>LISTAR FEDERAÇÕES</h1>

{{#each federacoes}}
    Código Federação: {{codFederacao}}<br>
    Razão Social: {{razaoSocial}}<br>
    Nome Fantasia: {{nomeFantasia}}<br>
    Sigla: {{sigla}}<br>
    CNPJ: {{cnpj}}<br>
    Presidente: {{presidente}}<br>
    <hr>
{{/each}}